// ============================================
// CONTACT
// ============================================

.contact-text {
  max-width: 600px;
  font-size: $fs-lg;
  color: $color-text;
  margin-bottom: $space-md;
}
